name: Run Script

on:
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9.1' # SemVer's version range syntax
      - run: |
         pip3 install --upgrade mobsfscan
         mobsfscan --sarif --output results.sarif .
      - name: Upload mobsfscan report
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: results.sarif
